.custom_nav .custom_menu ul li a {
  margin: 10px;
  padding: 5px;
  position: relative;
  font-family: var(--poppins_400_Regular);
  color: var(--white);
}
.custom_nav .custom_menu ul li:last-child a {
  margin-right: 0;
}
.custom_nav .custom_menu ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  background-color: var(--white);
  height: 2.5px;
  transition: 0.5s;
}
.custom_nav .custom_menu ul li a:hover::before {
  width: 50%;
}
.custom_nav .custom_menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  background-color: var(--white);
  height: 2.5px;
  transition: 0.5s;
}

.custom_nav .custom_menu ul li a:hover::after {
  width: 50%;
}
